<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active{
            color: red;
        }
        table{
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0;
        }
        th,td{
            padding: 8px 16px;
            border: 1px solid black;
            text-align: left;
        }
        th{
            background-color: #f7f7f7;
            color: black;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model='massage'>
        <button @click='inputevent'>提交</button>
        <cpn1 :cevents='events' @statechange='statechange' @removeevent='removeevent'></cpn1>
        <cpn2 :cevents='events' @statechange='statechange' @removeevent='removeevent'></cpn2>
    </div>
    <template id="cpn1">
       <div>
        <h1>未完成的任务</h1>
        <table v-if='cevents.length'>
            <thead>
                <tr>
                    <th>目标</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
               </thead>
               <tbody>
                <tr v-for='(cevent,index) in cevents' v-if='!cevent.state'>
                    <th><span :class=['active']>{{cevent.massage}}</span></th>
                    <th><button @click='cpnchangestate(index)'>未完成</button></th>
                    <th><button @click='cpnremoveevent(index)'>删除</button></th>
                </tr>
               </tbody>
        </table>
        <p v-else>您目前尚未设定目标</p>
       </div>
    </template>
    <template id="cpn2">
        <div>
         <h1>已完成的任务</h1>
         <table v-if='cevents.length'>
             <thead>
                 <tr>
                     <th>目标</th>
                     <th>状态</th>
                     <th>操作</th>
                 </tr>
                </thead>
                <tbody>
                 <tr v-for='(cevent,index) in cevents' v-if='cevent.state'>
                     <th><span>{{cevent.massage}}</span></th>
                     <th><button @click='cpnchangestate(index)'>已完成</button></th>
                     <th><button @click='cpnremoveevent(index)'>删除</button></th>
                 </tr>
                </tbody>
         </table>
         <p v-else>您目前尚未设定目标</p>
        </div>
     </template>
    <script src="./vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>